<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto w-50">
            <div class="card text-center w-100">
                <div class="card-header">
                    <h3 class="text-uppercase">Crear Nuevo Registro</h3>
                </div>
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="input-group mt-2">
                            <label for="tienda" class="input-group-text w-50">Tienda</label>
                            <input type="text" class="form-control" name="tienda" id="tienda"
                                placeholder="Ejemplo: Amazon" autofocus>
                        </div>
                        <div class="input-group mt-2">
                            <label for="articulo" class="input-group-text w-50">SKU Eurowin</label>
                            <input type="text" class="form-control" name="articulo" id="articulo">

                        </div>
                        <div class="input-group mt-2">
                            <label for="referencia" class="input-group-text w-50">Referencia</label>
                            <input type="text" class="form-control" name="referencia" id="referencia"
                                placeholder="Nº de pedido">

                        </div>
                        <div class="input-group mt-2">
                            <label for="agencia" class="input-group-text w-50">Agencia de Transportes</label>
                            <input type="text" class="form-control" name="agencia" id="agencia">

                        </div>
                        <div class="input-group mt-2">
                            <label for="numero_envio" class="input-group-text w-50">Nº de envío</label>
                            <input type="text" class="form-control" name="numero_envio" id="numero_envio">

                        </div>
                        <div class="input-group mt-2">
                            <label for="fecha_creacion" class="input-group-text w-50">Fecha de creación</label>
                            <input type="text" class="form-control" name="fecha_creacion" id="fecha_creacion">

                        </div>
                        <div class="input-group mt-2">
                            <label for="motivo" class="input-group-text w-50">Motivo</label>
                            <input type="text" class="form-control" name="motivo" id="motivo">

                        </div>
                        <div class="input-group mt-2">
                            <label for="fecha_recepcion" class="input-group-text w-50">Fecha de recepción</label>
                            <input type="text" class="form-control" name="fecha_recepcion" id="fecha_recepcion">

                        </div>
                        <div class="input-group mt-2">
                            <label for="observaciones" class="input-group-text w-50">Observaciones</label>
                            <input type="text" class="form-control" name="observaciones" id="observaciones">

                        </div>
                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>