<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 500px">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="/img/logo.png" alt="logo"
                    style="width: 150px; height: 150px; display:block">
                <h3 class="text-uppercase text-center p-4">CRUD con NodeJS y MySql</h3>
            </div>
            <div class="card-body text-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio amet tenetur eveniet, soluta
                    consectetur pariatur iste provident laudantium commodi doloremque aliquam est asperiores assumenda
                    quas, possimus nihil, nesciunt ad impedit.</p>
                <a href="/add" class="btn btn-primary">Crear Recogida</a>
            </div>
        </div>
    </div>
</main>